
h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -3px 2px 2px rgba(13,11,12,0.95);
    letter-spacing: 5px;
}

.filter{
    border-bottom: 2px solid gray;
    padding-bottom: 2vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    width: 100%;
}
ul{
    width: 50vh;


}
#li{
    background-image: linear-gradient(to right top, #646363, #666464, #686565, #6a6667, #6c6768, #6e696a, #716c6c, #736e6e, #767171, #7a7575, #7d7878, #817c7c);


    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: left;
    border: 2px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    position: relative;
    right: 0;
    transition: 0.7s;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;
}

#li:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

.left{
    padding-left: 0;

}
.right{
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 800px) {
    
h1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, -3px 2px 2px rgba(13,11,12,0.95);
    letter-spacing: 3px;
    font-size: 20px;
}

    ul{
        width: 25vh;
    
    
    }
    #li{
        width: 25vh;
        font-size: 13px;
    right: 8%;

    }


  }